@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.background {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: calc(100vh - 70px);
}
/* 
.dark body{
    background: gray;
} */
ul li:hover {
  background-color: #f5f5dc50;
  padding:0 2rem;
  transition: 0.4s ease-in-out;
  border-radius: 3rem;
  text-align: center;
}
/* ul li:hover{
    transform: scale(1.1);
    background-color: rgba(245, 245, 220, 0.315);
    padding: .5rem 2rem;
} */
.show span {
  display: none;
}
.show:hover span {
  display: inline-block;
}
@layer components {
  body {
    @apply dark:bg-gray dark:bg-none;
  }

}
.contact body{
  background-image: none!important;
}


